html, body {
    margin: 0;
    padding: 0;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
}

.WarningBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: rgb(255, 255, 255);
    z-index: 4;
    border-radius: 10px;
}

.WarningBox p {
    margin: 0 0 10px;
}

.WarningBox button {
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.WarningBox button:first-of-type {
    background-color: rgb(67, 169, 162);
    color: rgb(255, 255, 255);;
}

.WarningBox button:last-of-type {
    background-color: rgb(136, 136, 136);
    color: rgb(255, 255, 255);;
}

.App {
    font-family: monospace;
}

/***** ADMIN *****/
/*** LOGIN ***/
.AdminLogin {
    background-color: rgba(245, 245, 245);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
}

.AdminLogin .Introduce {
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.AdminLogin .Introduce h1 {
    color: rgb(0, 0, 0, 0.7);
}

.AdminLogin form {
    position: absolute;
    top: 45%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 350px;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.3);
}

.AdminLogin form h1 {
    text-align: center;
    font-weight: lighter;
    color: rgb(0, 0, 0, 0.7);
    margin-top: -15px;
}

.AdminLogin form input {
    padding: 10px;
    width: 94%;
    align-items: center;
    outline: none;
    border: 0.5px solid rgb(0, 0, 0, 0.3);
    border-radius: 5px;
    transition: all 0.2s ;
}

.AdminLogin form input.focused {
    border: 1px solid rgb(67, 169, 162);
} 

.AdminLogin form input:-webkit-autofill {
    background-color: rgba(255, 255, 255) !important; 
    color: rgb(0, 0, 0) !important; 
    transition: background-color 5000s ease-in-out 0s; 
}

.AdminLogin form .InputPassword .ShowOrHidePassword {
    position: absolute;
    top: 51.5%;
    left: 87.5%;
}

.AdminLogin form .InputPassword .ShowOrHidePassword i {
    cursor: pointer;
}

.AdminLogin form .Error {
    color: rgb(255, 0, 0);
    position: absolute;
    top: 57.5%;
}

.AdminLogin form button {
    height: 45px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 20px;
}

.AdminLogin form button:disabled {
    cursor: not-allowed;
}

.Active-Admin-Login-Button {
    background-color: rgb(67, 169, 162);
    color: rgb(255, 255, 255);
}

/*** NAVBAR ***/
.AdminNavbar {
    padding: 15px 0px 5px 105px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.3);
    display: flex;
}

.AdminNavbar .AdminLogo img {
    width: 50px;
}

.AdminNavbar .AdminAvatarNavbar {
    margin-left: 85%;
}

.AdminNavbar .AdminAvatarNavbar .Avatar img {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
}

.AdminNavbar .AdminAvatarNavbar .Avatar img:hover {
    filter: brightness(95%);
}

.AdminNavbar .AdminAvatarNavbar .BoxHoverNavbar {
    background-color: rgb(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    position: absolute;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: -20px;
    z-index: 1;
}

.AdminNavbar .AdminAvatarNavbar .BoxAccountAvatarNavbar {
    width: 200px;
    height: 160px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
    position: absolute;
    left: 79%;
    top: 8.5%;
    border-radius: 10px;
}

.AdminNavbar .AdminAvatarNavbar .BoxAccountAvatarNavbar .Profile {
    padding: 10px;
}

.AdminNavbar .AdminAvatarNavbar .BoxAccountAvatarNavbar .Profile .InfoProfile {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
    border-radius: 15px;
    transition: all 0.3s;
}

.AdminNavbar .AdminAvatarNavbar .BoxAccountAvatarNavbar .Profile .InfoProfile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.AdminNavbar .AdminAvatarNavbar .BoxAccountAvatarNavbar .Profile .InfoProfile:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.AdminNavbar .AdminAvatarNavbar .BoxAccountAvatarNavbar .Profile .InfoProfile .FullName {
    display: flex;
    gap: 5px;
    font-size: 15px;
}

.AdminNavbar .AdminAvatarNavbar .BoxAccountAvatarNavbar .Logout {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    width: 92.5%;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s;
}

.AdminNavbar .AdminAvatarNavbar .BoxAccountAvatarNavbar .Logout:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.AdminNavbar .AdminAvatarNavbar .BoxAccountAvatarNavbar .Logout .LogoLogout {
    font-size: 20px;
    width: 35px;
    height: 35px;
    background-color: rgb(222, 222, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.AdminNavbar .AdminAvatarNavbar .BoxAccountAvatarNavbar .Logout p {
    font-size: 15px;
}

/*** SIDEBAR ***/
.AdminSidebar {
    border-right: 1px solid rgb(0, 0, 0, 0.2);
    width: 265px;
}

/*** ROUTES ***/
.Admin {
    display: flex;
    width: 100%;
}

.Admin .Routes {
    border-radius: 30px;
    width: 100%;
    max-width: 1000px;
    padding: 30px 50px;
    margin: 20px 30px;
    background-color: rgb(255, 255, 255);
    height: 77.2vh;
}

/*** PROFILE ***/
.AdminProfile {
    display: flex;
    gap: 20px;
    align-items: center;
}

.AdminProfile .Avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.AdminProfile .Avatar .AvatarDisplay {
    position: relative;
}

.AdminProfile .Avatar .AvatarDisplay .AvatarImage img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

.AdminProfile .Avatar .AvatarDisplay .CameraIcon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
}

.AdminProfile .Avatar .AvatarDisplay:hover .CameraIcon {
    display: block;
}

.AdminProfile .Avatar .AvatarActions {
    width: 200px;
    height: 40px;  
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
    z-index: 2;
    position: absolute;
    top: 275px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    font-size: 13px;
}

.AdminProfile .Avatar .AvatarActions .button {
    width: 200px;
    cursor: pointer;
}

.AdminProfile .Avatar .AvatarActions .button:hover {
    background-color: rgb(246, 246, 246);
}

.AdminProfile .Bio {
    position: absolute;
    top: 40%;
    font-size: 14px;
    width: 800px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 15px;
}

.AdminProfile .AdminInfo{
    margin-top: -30px;
    color: rgb(0, 0, 0, 0.7);
}

.AdminProfile .AdminInfo .FullName {
    display: flex;
    gap: 5px;
}

.AdminProfile .AdminInfo .FullName p {
    font-size: 30px;
}

.AdminProfile .AdminInfo .Username p {
    font-size: 20px;
    margin-top: -20px;
    margin-left: 2.5px;
}

.AdminProfile .AdminInfo .Actions {
    display: flex;
    gap: 20px;
}

.AdminProfile .AdminInfo .Actions .EditProfile button {
    border-radius: 10px;
    width: 120px;
    height: 40px;
    outline: none;
    border: none;
    text-align: start;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    padding-left: 10px;
    justify-content: center;
}

.AdminProfile .AdminInfo .Actions .EditProfile button:hover {
    background-color: rgb(67, 169, 162);
    color: rgb(246, 246, 246);
}

/* AVATAR */
.AdminProfile .AvatarView {
    height: 500px;
    width: 450px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 10px;
}

.AdminProfile .AvatarView .Avatar {
    position: absolute;
    top: 52%;
    left: 51%;
    transform: translate(-135%, -135%);
}

.AdminProfile .AvatarView .Avatar img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.AdminProfile .AvatarView .CloseViewAvatar {
    margin-left: 415px;
    margin-top: 10px;
    z-index: 2;
    font-size: xx-large;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.AdminProfile .AvatarView .CloseViewAvatar:hover {
    background-color: rgb(246, 246, 246);
}

.AdminProfile .AvatarView .ActionViewAvatar {
    position: absolute;
    left: 6%;
    top: 5%;
}

.AdminProfile .AvatarView .ActionViewAvatarBox {
    width: 120px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
    border-radius: 5px;
    position: absolute;
    left: 40px;
    top: 25px;
    z-index: 3;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.AdminProfile .AvatarView .ActionViewAvatarBox:hover {
    background-color: rgb(246, 246, 246);
}

.AdminProfile .AvatarView .ActionViewAvatarBox p {
    padding-left: 10px;
    margin-top: 10px;
}

.AdminProfile .BoxEditAvatar {
    height: 650px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 10px;
}

.AdminProfile .BoxEditAvatar .CloseBoxEditAvatar {
    margin-left: 565px;
    margin-top: 10px;
    z-index: 3;
    font-size: xx-large;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.AdminProfile .BoxEditAvatar .CloseBoxEditAvatar:hover {
    background-color: rgb(246, 246, 246);
}

.AdminProfile .BoxEditAvatar .EditAvatar {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    gap: 20px;
}

.AdminProfile .BoxEditAvatar .EditAvatar img {
    position: relative;
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.AdminProfile .BoxEditAvatar .EditAvatar .Buttons {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-top: 10px;
    border-top: 1px solid rgb(0, 0, 0, 0.3);
    width: 100%;
    position: fixed;
    top: 89%;
}

.AdminProfile .BoxEditAvatar .EditAvatar .CropWrapper .AvatarOnCrop svg {
    display: none;
}

.AdminProfile .BoxEditAvatar .EditAvatar .Buttons span {
    margin-top: 10px;
    color: rgb(67, 169, 162);
    font-weight: bold;
    cursor: pointer;
    margin-left: 72%;
}

.AdminProfile .BoxEditAvatar .EditAvatar .Buttons button {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(67, 169, 162);
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

/* EDIT PROFILE */
.AdminProfile .BoxEditProfile {
    height: 600px;
    width: 700px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 10px;
}

.AdminProfile .BoxEditProfile .CloseBoxEditProfile {
    margin-left: 665px;
    margin-top: 10px;
    z-index: 3;
    font-size: xx-large;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.AdminProfile .BoxEditProfile .CloseBoxEditProfile:hover {
    background-color: rgb(246, 246, 246);
}

.AdminProfile .BoxEditProfile .AdminInfoInput {
    padding: 0 50px 0 20px;
    display: flex;
    flex-direction: column;
}

.AdminProfile .BoxEditProfile .AdminInfoInput input {
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0, 0.5);
    padding: 10px;
    width: 100%;
}

.AdminProfile .BoxEditProfile .AdminInfoInput input.focused {
    border: 1px solid rgb(67, 169, 162);
} 

.AdminProfile .BoxEditProfile .AdminInfoInput input:-webkit-autofill {
    background-color: rgba(255, 255, 255) !important; 
    color: rgb(0, 0, 0) !important; 
    transition: background-color 5000s ease-in-out 0s; 
}

.AdminProfile .BoxEditProfile .AdminInfoInput .Bio {
    height: 170px;
    margin-top: 80px;
    width: 610px;
    outline: none;
    border-radius: 0px;
    width: 90%;
}

.AdminProfile .BoxEditProfile .AdminInfoInput textarea.focused {
    border: 1px solid rgb(67, 169, 162);
} 

.AdminProfile .BoxEditProfile .AdminInfoInput .Bio::-webkit-scrollbar {
    width: 5px;
}

.AdminProfile .BoxEditProfile .AdminInfoInput .Bio::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
    overflow: hidden;
}

.AdminProfile .BoxEditProfile button {
    margin-top: 210px;
    margin-left: 570px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: all 0.3s;
}

.AdminProfile .BoxEditProfile button:disabled {
    cursor: not-allowed;
}

.Active-Save-Profile-Button {
    background-color: rgb(67, 169, 162);
    color: rgb(255, 255, 255);
}


